{{#each fields}}
  <{{@root.nodeNames.item}}

  {{!-- group --}}
  {{#if group}}

    class="{{@root.classPrefix}}-group" data-role="form-group" data-group="{{group}}">
      <{{@root.nodeNames.items}} class="{{@root.classPrefix}}-items" data-role="form-items">
        {{> fields}}
      </{{@root.nodeNames.items}}>

  {{else}}

    class="{{@root.classPrefix}}-item{{#if icon}} {{@root.classPrefix}}-icon-item{{/if}}{{#if cls}} {{cls}}{{/if}}{{#if attrs.required}} required{{/if}}" data-role="form-item">

    {{#if label}}
      <label for="{{@root.name}}-{{name}}">{{label}}</label>
    {{/if}}

    {{#if icon}}
      <span class="{{@root.classPrefix}}-icon iconfont iconfont-{{icon}}"></span>
    {{/if}}

    {{!-- textarea --}}
    {{#isType 'textarea,multiline'}}
      <textarea class="{{@root.classPrefix}}-textarea" name="{{name}}" id="{{@root.name}}-{{name}}"{{> attrs}}{{> messages}}>{{value}}</textarea>
    {{/isType}}

    {{!-- select --}}
    {{#isType 'select'}}
      <select name="{{name}}" id="{{@root.name}}-{{name}}"{{> attrs}}{{> messages}}>{{> options}}</select>
    {{/isType}}

    {{!-- radio/checkbox --}}
    {{#isType 'radio,checkbox'}}
      <div class="{{type}}-group" id="{{@root.name}}-{{name}}">
        {{#each options}}
          <input type="{{../type}}" name="{{../name}}" id="{{@root.name}}-{{../name}}-{{value}}" value="{{value}}"{{#if checked}} checked{{/if}}{{#each ../attrs}}{{#if this}} {{@key}}="{{this}}"{{/if}}{{/each}}{{#each ../messages}} data-errormessage-{{@key}}="{{this}}"{{/each}}>
          <label for="{{@root.name}}-{{../name}}-{{value}}">{{text}}</label>
        {{/each}}
      </div>
    {{/isType}}

    {{!-- inputs --}}
    {{#isType ''}}
      <input class="{{@root.classPrefix}}-input" type="{{#if type}}{{type}}{{else}}text{{/if}}" name="{{name}}" id="{{@root.name}}-{{name}}" value="{{value}}"{{> attrs}}{{> messages}}>
    {{/isType}}

    {{!-- static --}}
    {{#isType 'static'}}
      <div class="{{@root.classPrefix}}-static">{{value}}</div>
    {{/isType}}

    {{!-- custom --}}
    {{#isType 'custom'}}
      {{{value}}}
    {{/isType}}

  {{/if}}

  </{{@root.nodeNames.item}}>
{{/each}}
