<form class="{{classPrefix}}" name="{{name}}" action="{{action}}" method="{{method}}" data-role="form">

  {{!-- fields --}}
  <{{nodeNames.items}} class="{{classPrefix}}-items" data-role="form-items">
    {{> fields}}
  </{{nodeNames.items}}>

  {{!-- buttons --}}
  <div class="{{classPrefix}}-buttons" data-role="form-buttons">
    {{#each buttons}}
    {{#oneOf type 'custom'}}
      {{{value}}}
    {{else}}
      <button class="{{@root.classPrefix}}-button{{#if role}} button-{{role}}{{/if}}" type="{{type}}" data-role="{{role}}"{{#if disabled}} disabled{{/if}}>{{label}}</button>
    {{/oneOf}}
    {{/each}}
  </div>

</form>
